.none_posts {
    text-align: center;
    color: #6E6E6E;
    padding: 40vh;
}

.logo {
    display: inline-block;
    background-image: url("https://goo.gl/Houky1");
    width: 50px;
    height: 50px;
    -webkit-background-size: cover;
    background-size: cover;
    vertical-align: middle;
    margin-right: 5px;
}

.user_avatar {
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
    text-align: center;
    background-size: cover;
    display: inline-block;
}

.user {
    text-align: center;
}

.grey_headers {
    color: #6E6E6E;
}

.form_add_post {
    margin: 5em;
}

.post {
    display: inline-block;
    margin: 1em;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.post_header {
}

.post_photo {
    width: 80vh;
    height: 80vh;
    background-size: cover;
    display: inline-block;
}

.post_actions {
    font-size: 2em;
    color: tomato;
}
.post_actions>.like_post>span{
    font-size: 1em;
    color: black;
}
.post_actions>svg:hover{
    color: red;
    cursor: pointer;
}

.comments {

}
.user_avatar_min{
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    background-size: cover;
}
.user_avatar_min:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.user_min{
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
#search_user_submit{
    margin-right: 10px;
}
