{% extends 'base.html.twig' %}

{% block body%}
    <div class="user">
    <div class="user_avatar" style="background-image: url({{ vich_uploader_asset(app.user, 'avatarFile') }})"></div>
    <h2 class="username">{{ app.getUser.getUsername }}</h2>
    <div class="following">
        <button class="btn btn-info" disabled>Followers: {{ app.getUser.getFollowersAmount() }}</button>
        <button class="btn btn-info" disabled>Followers: {{ app.getUser.getFollowingAmount() }}</button>
    </div>
    </div>
{% endblock %}